<h1>Edit User</h1>

<!-- Using base HTML
<form action="/users" method="post" accept-charset="UTF-8">
  Email<br>
  <input type="text" name="user[email]"><br>
  Username<br>
  <input type="text" name="user[username]"><br>
  Password<br>
  <input type="password" name="user[password]"><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->

<!-- Using form_tag
<%#= form_tag("/users", method: "post") do %>
  <%#= label_tag(:email, "Email") %><br>
  <%#= text_field_tag(:email) %><br>
  <%#= label_tag(:username, "Username") %><br>
  <%#= text_field_tag(:username) %><br>
  <%#= label_tag(:password, "Password") %><br>
  <%#= password_field_tag(:password) %><br>
  <%#= submit_tag("Submit") %>
<%# end %>
-->

<%= form_for @user do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: "Your email address", value: "foo@bar.com" %><br>
  <%= f.label :username %><br>
  <%= f.text_field :username, placeholder: "Your user name", value: "Foobar" %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password, placeholder: "Your secret password" %><br>
  <%= f.submit %>
<% end %>